@import "vars.scss";
@import "node_modules/bootstrap/scss/bootstrap";

#app {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    background-color: var(--primary-background-color);
    color: var(--font-color);
}

.shadow-box {
    overflow: hidden;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 10px;


    &.big-padding {
        padding: 20px;
    }
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary {
    color: var(--btn-text);
    background-color: var(--btn-primary);
    border-color: var(--btn-border);

    &:hover, &:active, &:focus, &.active {
        color: var(--btn-hover);
        background-color: var(--highlight-color);
        border-color: var(--highlight-color);
    }
}

.btn-outline-primary {
    color: var(--btn-text-outlined);
    border-color: var(--btn-primary);

    &:hover, &:active, &:focus, &.active {
        color: var(--btn-hover);
        background-color: var(--highlight-color);
        border-color: var(--highlight-color);
    }
}

.modal-content {
    border-radius: 1rem;
    backdrop-filter: blur(3px);
}

// classes for the status monitor color switch
.isUp {
    background-color: var(--up-color);
}

.isDown {
    background-color: var(--down-color);
}

.isWarning {
    background-color: var(--warning-color);
}

.isSecondary {
    background-color: var(--secondary-color);
}


