$border-radius: 50rem;

// these are used sometimes if nothing is defined
$primary: #5CDD8B;
$secondary: #c1c1c1;

// you can access this colors with var(--primary-color)
:root {
    --primary-color: #5CDD8B;
    --secondary-color: #c1c1c1;
    --warning-color: #f8a306;
    --danger-color: #DC3545;
    --link-color: #111;
    --font-color: #424242;
    --primary-background-color: #fff;
    --heading-color: #292922;
    --footer-color: #AAA;
    --beat-empty-background: aliceblue;
    --connection-lost: crimson;
    --connection-lost-text: white;

    // status colors
    --up-color: var(--primary-color);
    --down-color: var(--danger-color);

    // highlighting
    --highlight-color: #7ce8a4;
    --highlight-white: #e7faec;
    --highlight-secondary: #e7faec;
    --connection-highlight: #cdf8f4;

    // buttons
    --btn-text: white;
    --btn-text-outlined: var(--primary-color);
    --btn-hover: white;
    --btn-border: var(--primary-color);
    --btn-primary: var(--primary-color);
    --btn-danger: var(--danger-color);
    --btn-active: var(--highlight-color);
}

[data-theme="dark"] {
    --primary-color: #3c8c59;
    --secondary-color: #536390;
    --warning-color: #f8a306;
    --danger-color: #af2331;
    --link-color: #111;
    --font-color: #e1e1ff;
    --primary-background-color: #252e38;
    --heading-color: #818cab; // not used
    --footer-color: #AAA;
    --beat-empty-background: aliceblue;
    --connection-lost: crimson;
    --connection-lost-text: white;

    // status colors
    --up-color: var(--primary-color);
    --down-color: var(--danger-color);

    // highlighting
    --highlight-color: #7ce8a4;
    --highlight-white: pink; // stupidly named atm used for the connections on the left side
    --highlight-secondary: grey;
    --connection-highlight: #cdf8f4;

    // buttons
    --btn-text: white;
    --btn-text-outlined: var(--primary-color);
    --btn-hover: white;
    --btn-border: var(--primary-color);
    --btn-primary: var(--primary-color);
    --btn-danger: var(--danger-color);
    --btn-active: var(--highlight-color);
}

